# Project 3 : Analyzing Chess Tournament Results

### Submitted by :

Sweety Saha (ssaha2@mail.yu.edu)

Aishwarya Deshmane (adeshman@mail.yu.edu)

Nabid Zaman (nzaman@mail.yu.edu)

#### Create a Jupyter Notebook that generates a .CSV file with the following information for each of the chess players:  Player’s Name, Player’s State, Total Number of Points, Player’s Pre-Rating, and Average Pre Tournament Chess Rating of Opponents:   For the first player shown in the file excerpt below, that information would be:


__Gary Hua, ON, 6.0, 1794, 1605__

For this project we need to load libraries:
* pandas
* urllib.request
* regex

In [1]:
import pandas as pd
import urllib.request
import regex as re

Created a github url path for 'tournamentinfo' text file. We will open the file using urlopen

In [2]:
path = 'https://raw.githubusercontent.com/Aishwarya-Deshmane/DAV-5400/main/tournamentinfo.txt'
data = urllib.request.urlopen(path)
data

Using readlines() get a list containing each line in the file

In [3]:
with data as l:
    line = l.readlines()
line

[b'-----------------------------------------------------------------------------------------\r\n',
 b' Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round| \r\n',
 b' Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  | \r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\r\n',
 b'   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|\r\n',
 b'   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|\r\n',
 b'   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|\r\n',
 b'   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|\r\n',
 b'   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|\r\n',
 b'   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|\r\n',
 b'   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|\r\n',
 b'   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|\r\n',
 b'   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|\r\n',
 b'   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|\r\n',
 b'   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|\r\n',
 b'   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|\r\n',
 b'   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|\r\n',
 b'   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|\r\n',
 b'   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |\r\n',
 b'   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|\r\n',
 b'   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|\r\n',
 b'   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|\r\n',
 b'   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|\r\n',
 b'   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|\r\n',
 b'   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|\r\n',
 b'   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|\r\n',
 b'   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|\r\n',
 b'   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|\r\n',
 b'   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|\r\n',
 b'   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |\r\n',
 b'   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|\r\n',
 b'   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |\r\n',
 b'   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|\r\n',
 b'   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|\r\n',
 b'   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|\r\n',
 b'   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|\r\n',
 b'   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|\r\n',
 b'   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|\r\n',
 b'   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|\r\n',
 b'   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|\r\n',
 b'   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|\r\n',
 b'   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|\r\n',
 b'   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|\r\n',
 b'   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |\r\n',
 b'   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|\r\n',
 b'   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|\r\n',
 b'   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|\r\n',
 b'   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|\r\n',
 b'   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|\r\n',
 b'   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|\r\n',
 b'   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|\r\n',
 b'   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |\r\n',
 b'   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|\r\n',
 b'   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|\r\n',
 b'   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|\r\n',
 b'   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |\r\n',
 b'   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|\r\n',
 b'   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|\r\n',
 b'   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|\r\n',
 b'   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |\r\n',
 b'   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|\r\n',
 b'   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|\r\n',
 b'   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |\r\n',
 b'   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|\r\n',
 b'   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |\r\n',
 b'   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |\r\n',
 b'   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |\r\n',
 b'-----------------------------------------------------------------------------------------\r\n',
 b'   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|\r\n',
 b'   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |\r\n',
 b'-----------------------------------------------------------------------------------------']

Checking the type of 'line' and each index from the 'line'. The type is list of the 'line' but bytes of the line index

In [4]:
print(type(line))
print(type(line[1]))

<class 'list'>
<class 'bytes'>

Convert the byte values into string using decode() and append the line index into lines list. String type is important to perform string operations on it.

In [5]:
lines = []
for a in range(len(line)):
    lines.append(line[a].decode())
lines

['-----------------------------------------------------------------------------------------\r\n',
 ' Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round| \r\n',
 ' Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  | \r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|\r\n',
 '   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|\r\n',
 '   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|\r\n',
 '   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|\r\n',
 '   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|\r\n',
 '   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|\r\n',
 '   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|\r\n',
 '   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|\r\n',
 '   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|\r\n',
 '   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|\r\n',
 '   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|\r\n',
 '   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|\r\n',
 '   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|\r\n',
 '   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|\r\n',
 '   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|\r\n',
 '   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |\r\n',
 '   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|\r\n',
 '   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|\r\n',
 '   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|\r\n',
 '   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|\r\n',
 '   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|\r\n',
 '   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|\r\n',
 '   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|\r\n',
 '   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|\r\n',
 '   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|\r\n',
 '   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|\r\n',
 '   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |\r\n',
 '   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|\r\n',
 '   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |\r\n',
 '   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|\r\n',
 '   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|\r\n',
 '   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|\r\n',
 '   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|\r\n',
 '   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|\r\n',
 '   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|\r\n',
 '   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|\r\n',
 '   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|\r\n',
 '   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|\r\n',
 '   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|\r\n',
 '   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|\r\n',
 '   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |\r\n',
 '   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|\r\n',
 '   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|\r\n',
 '   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|\r\n',
 '   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|\r\n',
 '   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|\r\n',
 '   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|\r\n',
 '   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|\r\n',
 '   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |\r\n',
 '   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|\r\n',
 '   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|\r\n',
 '   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|\r\n',
 '   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |\r\n',
 '   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|\r\n',
 '   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|\r\n',
 '   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|\r\n',
 '   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |\r\n',
 '   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|\r\n',
 '   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|\r\n',
 '   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |\r\n',
 '   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|\r\n',
 '   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |\r\n',
 '   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |\r\n',
 '   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |\r\n',
 '-----------------------------------------------------------------------------------------\r\n',
 '   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|\r\n',
 '   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |\r\n',
 '-----------------------------------------------------------------------------------------']

Using regex to find Player number, Player name & Total points

In [6]:
Player_Number = []
player_Name = []
total_Points = []
i = 4
while i < len(lines): 
    Player_Number.append(re.findall('[\d]+',lines[i])[0]) # to find player no.
    player_Name.append(re.findall('[A-Z-]+[A-Z-\s]+[A-Z-]+',lines[i])[0]) #to find player name
    total_Points.append(re.findall('[\d.]{3}',lines[i])[0]) # to find total points
    i=i+3
    
print("Player number :",Player_Number)
print("player's Name :",player_Name)
print("total Points :",total_Points)

Player number : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64']
player's Name : ['GARY HUA', 'DAKSHESH DARURI', 'ADITYA BAJAJ', 'PATRICK H SCHILLING', 'HANSHI ZUO', 'HANSEN SONG', 'GARY DEE SWATHELL', 'EZEKIEL HOUGHTON', 'STEFANO LEE', 'ANVIT RAO', 'CAMERON WILLIAM MC LEMAN', 'KENNETH J TACK', 'TORRANCE HENRY JR', 'BRADLEY SHAW', 'ZACHARY JAMES HOUGHTON', 'MIKE NIKITIN', 'RONALD GRZEGORCZYK', 'DAVID SUNDEEN', 'DIPANKAR ROY', 'JASON ZHENG', 'DINH DANG BUI', 'EUGENE L MCCLURE', 'ALAN BUI', 'MICHAEL R ALDRICH', 'LOREN SCHWIEBERT', 'MAX ZHU', 'GAURAV GIDWANI', 'SOFIA ADINA STANESCU-BELLU', 'CHIEDOZIE OKORIE', 'GEORGE AVERY JONES', 'RISHI SHETTY', 'JOSHUA PHILIP MATHEWS', 'JADE GE', 'MICHAEL JEFFERY THOMAS', 'JOSHUA DAVID LEE', 'SIDDHARTH JHA', 'AMIYATOSH PWNANANDAM', 'BRIAN LIU', 'JOEL R HENDON', 'FOREST ZHANG', 'KYLE WILLIAM MURPHY', 'JARED GE', 'ROBERT GLEN VASEY', 'JUSTIN D SCHILLING', 'DEREK YAN', 'JACOB ALEXANDER LAVALLEY', 'ERIC WRIGHT', 'DANIEL KHAIN', 'MICHAEL J MARTIN', 'SHIVAM JHA', 'TEJAS AYYAGARI', 'ETHAN GUO', 'JOSE C YBARRA', 'LARRY HODGE', 'ALEX KONG', 'MARISA RICCI', 'MICHAEL LU', 'VIRAJ MOHILE', 'SEAN M MC CORMICK', 'JULIA SHEN', 'JEZZEL FARKAS', 'ASHWIN BALAJI', 'THOMAS JOSEPH HOSMER', 'BEN LI']
total Points : ['6.0', '6.0', '6.0', '5.5', '5.5', '5.0', '5.0', '5.0', '5.0', '5.0', '4.5', '4.5', '4.5', '4.5', '4.5', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '4.0', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.5', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '3.0', '2.5', '2.5', '2.5', '2.5', '2.5', '2.5', '2.0', '2.0', '2.0', '2.0', '2.0', '2.0', '2.0', '1.5', '1.5', '1.0', '1.0', '1.0']

###### In above code we have used 3 regular expressions are used for parsing/pattern matching within text. To extract the Player number, name and total points . we've defined a regular expressions for that:

__'[\d]+'__ --Player number regex--

The parsing behavior of this regular expression can be explained as follows:

__[\d]__ =   match any number within the range of 0,1,2,3...9.

__'+'__ =   A plus sign ('+') within a regular expression indicates that the regular expression parser should match one or more of the preceding regex characters/codes. 

---------------------------------------------------------------------

__[A-Z-]+[A-Z-\s]+[A-Z-]+__ -- Player's name regex

The parsing behavior of this regular expression can be explained as follows:


__[A-Z-]__= Match any __uppercase__ letter within the range of A, B, C, .., Z and match 1 or more occurrence of "-".

__'+'__ =   A plus sign ('+') within a regular expression indicates that the regular expression parser should match one or more of the preceding regex characters/codes. 

__[A-Z-\s]__= Match any __uppercase__ letter within the range of A, B, C, .., Z and match 1 or more occurrence of "-" and match 1 or more occurrence of white space.

__'+'__ =   A plus sign ('+') within a regular expression indicates that the regular expression parser should match one or more of the preceding regex characters/codes. 

__[A-Z-]__= Match any __uppercase__ letter within the range of A, B, C, .., Z and match 1 or more occurrence of "-".

__'+'__ =   A plus sign ('+') within a regular expression indicates that the regular expression parser should match one or more of the preceding regex characters/codes. 

The combination helps avoid extra spaces in the name.

----------------------------------------------------------------------

__[\d.]{3}__ -- Total points regex

The parsing behavior of this regular expression can be explained as follows:



__[\d.]{3}__= Match any number within the range of 0,1,2,3...9.and "." it __exactly__ can occur 3 times..

__{3}__ = Match exactly three of the preceding regex characters/codes. In this regex the preceding characters/codes are the Match any number within the range of 0,1,2,3...9 and "."

In [7]:
State = []
Pre_rating = []
j = 5
while j < len(lines):
    State.append(re.findall('[A-Z]{2}',lines[j])[0]) # To find state
    Pre_rating.append(re.sub("R:\s+","",re.findall('R:\s+[0-9]+',lines[j])[0]))
    j=j+3 # To find Pre_rating
    
print("State :",State)
print("Pre-rating :",Pre_rating)

State : ['ON', 'MI', 'MI', 'MI', 'MI', 'OH', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'ON', 'MI', 'ON', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI', 'ON', 'MI', 'ON', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'MI', 'ON', 'MI', 'MI', 'MI']
Pre-rating : ['1794', '1553', '1384', '1716', '1655', '1686', '1649', '1641', '1411', '1365', '1712', '1663', '1666', '1610', '1220', '1604', '1629', '1600', '1564', '1595', '1563', '1555', '1363', '1229', '1745', '1579', '1552', '1507', '1602', '1522', '1494', '1441', '1449', '1399', '1438', '1355', '980', '1423', '1436', '1348', '1403', '1332', '1283', '1199', '1242', '377', '1362', '1382', '1291', '1056', '1011', '935', '1393', '1270', '1186', '1153', '1092', '917', '853', '967', '955', '1530', '1175', '1163']

__Using regex to find State & Pre_rating:__

State regex:
__[A-Z]__{2} -- State regex

The parsing behavior of this regular expression can be explained as follows:

__[A-Z]__= Match any uppercase letter within the range of A, B, C, .., Z.
{2} = Match exactly two of the preceding regex characters/codes. In this regex the preceding characters/codes are the Match any number within the range of 0,1,2,3...9 and "."

------------------------------------------------------------------------------------------------

#### Pre_rating regex:

__\s+[0-9]+__ -- State regex

The parsing behavior of this regular expression can be explained as follows:

__\s__= (lowercase s) matches a single whitespace character -- space, newline, return, tab, form [ \n\r\t\f].

__'+'__ = A plus sign ('+') within a regular expression indicates that the regular expression parser should match one or more of the preceding regex characters/codes.

__[0-9]__ = Matches characters from 0 to 9. In this regex the preceding characters/codes are the Match any number within the range of 0,1,2,3...9.


__'+'__ = A plus sign ('+') within a regular expression indicates that the regular expression parser should match one or more of the preceding regex characters/codes.

Using regex to get the Round details

In [8]:
Round = []
k = 4
while k < len(lines):
    Round.append(re.findall('[WLDUHBX]\s+[\d]*',lines[k])[-7:]) # using regex to extract player's no. from each rounds.
    k=k+3
Round

[['W  39', 'W  21', 'W  18', 'W  14', 'W   7', 'D  12', 'D   4'],
 ['W  63', 'W  58', 'L   4', 'W  17', 'W  16', 'W  20', 'W   7'],
 ['L   8', 'W  61', 'W  25', 'W  21', 'W  11', 'W  13', 'W  12'],
 ['W  23', 'D  28', 'W   2', 'W  26', 'D   5', 'W  19', 'D   1'],
 ['W  45', 'W  37', 'D  12', 'D  13', 'D   4', 'W  14', 'W  17'],
 ['W  34', 'D  29', 'L  11', 'W  35', 'D  10', 'W  27', 'W  21'],
 ['W  57', 'W  46', 'W  13', 'W  11', 'L   1', 'W   9', 'L   2'],
 ['W   3', 'W  32', 'L  14', 'L   9', 'W  47', 'W  28', 'W  19'],
 ['W  25', 'L  18', 'W  59', 'W   8', 'W  26', 'L   7', 'W  20'],
 ['D  16', 'L  19', 'W  55', 'W  31', 'D   6', 'W  25', 'W  18'],
 ['D  38', 'W  56', 'W   6', 'L   7', 'L   3', 'W  34', 'W  26'],
 ['W  42', 'W  33', 'D   5', 'W  38', 'H    ', 'D   1', 'L   3'],
 ['W  36', 'W  27', 'L   7', 'D   5', 'W  33', 'L   3', 'W  32'],
 ['W  54', 'W  44', 'W   8', 'L   1', 'D  27', 'L   5', 'W  31'],
 ['D  19', 'L  16', 'W  30', 'L  22', 'W  54', 'W  33', 'W  38'],
 ['D  10', 'W  15', 'H    ', 'W  39', 'L   2', 'W  36', 'U    '],
 ['W  48', 'W  41', 'L  26', 'L   2', 'W  23', 'W  22', 'L   5'],
 ['W  47', 'W   9', 'L   1', 'W  32', 'L  19', 'W  38', 'L  10'],
 ['D  15', 'W  10', 'W  52', 'D  28', 'W  18', 'L   4', 'L   8'],
 ['L  40', 'W  49', 'W  23', 'W  41', 'W  28', 'L   2', 'L   9'],
 ['W  43', 'L   1', 'W  47', 'L   3', 'W  40', 'W  39', 'L   6'],
 ['W  64', 'D  52', 'L  28', 'W  15', 'H    ', 'L  17', 'W  40'],
 ['L   4', 'W  43', 'L  20', 'W  58', 'L  17', 'W  37', 'W  46'],
 ['L  28', 'L  47', 'W  43', 'L  25', 'W  60', 'W  44', 'W  39'],
 ['L   9', 'W  53', 'L   3', 'W  24', 'D  34', 'L  10', 'W  47'],
 ['W  49', 'W  40', 'W  17', 'L   4', 'L   9', 'D  32', 'L  11'],
 ['W  51', 'L  13', 'W  46', 'W  37', 'D  14', 'L   6', 'U    '],
 ['W  24', 'D   4', 'W  22', 'D  19', 'L  20', 'L   8', 'D  36'],
 ['W  50', 'D   6', 'L  38', 'L  34', 'W  52', 'W  48', 'U    '],
 ['L  52', 'D  64', 'L  15', 'W  55', 'L  31', 'W  61', 'W  50'],
 ['L  58', 'D  55', 'W  64', 'L  10', 'W  30', 'W  50', 'L  14'],
 ['W  61', 'L   8', 'W  44', 'L  18', 'W  51', 'D  26', 'L  13'],
 ['W  60', 'L  12', 'W  50', 'D  36', 'L  13', 'L  15', 'W  51'],
 ['L   6', 'W  60', 'L  37', 'W  29', 'D  25', 'L  11', 'W  52'],
 ['L  46', 'L  38', 'W  56', 'L   6', 'W  57', 'D  52', 'W  48'],
 ['L  13', 'W  57', 'W  51', 'D  33', 'H    ', 'L  16', 'D  28'],
 ['B    ', 'L   5', 'W  34', 'L  27', 'H    ', 'L  23', 'W  61'],
 ['D  11', 'W  35', 'W  29', 'L  12', 'H    ', 'L  18', 'L  15'],
 ['L   1', 'W  54', 'W  40', 'L  16', 'W  44', 'L  21', 'L  24'],
 ['W  20', 'L  26', 'L  39', 'W  59', 'L  21', 'W  56', 'L  22'],
 ['W  59', 'L  17', 'W  58', 'L  20', 'X    ', 'U    ', 'U    '],
 ['L  12', 'L  50', 'L  57', 'D  60', 'D  61', 'W  64', 'W  56'],
 ['L  21', 'L  23', 'L  24', 'W  63', 'W  59', 'L  46', 'W  55'],
 ['B    ', 'L  14', 'L  32', 'W  53', 'L  39', 'L  24', 'W  59'],
 ['L   5', 'L  51', 'D  60', 'L  56', 'W  63', 'D  55', 'W  58'],
 ['W  35', 'L   7', 'L  27', 'L  50', 'W  64', 'W  43', 'L  23'],
 ['L  18', 'W  24', 'L  21', 'W  61', 'L   8', 'D  51', 'L  25'],
 ['L  17', 'W  63', 'H    ', 'D  52', 'H    ', 'L  29', 'L  35'],
 ['L  26', 'L  20', 'D  63', 'D  64', 'W  58', 'H    ', 'U    '],
 ['L  29', 'W  42', 'L  33', 'W  46', 'H    ', 'L  31', 'L  30'],
 ['L  27', 'W  45', 'L  36', 'W  57', 'L  32', 'D  47', 'L  33'],
 ['W  30', 'D  22', 'L  19', 'D  48', 'L  29', 'D  35', 'L  34'],
 ['H    ', 'L  25', 'H    ', 'L  44', 'U    ', 'W  57', 'U    '],
 ['L  14', 'L  39', 'L  61', 'B    ', 'L  15', 'L  59', 'W  64'],
 ['L  62', 'D  31', 'L  10', 'L  30', 'B    ', 'D  45', 'L  43'],
 ['H    ', 'L  11', 'L  35', 'W  45', 'H    ', 'L  40', 'L  42'],
 ['L   7', 'L  36', 'W  42', 'L  51', 'L  35', 'L  53', 'B    '],
 ['W  31', 'L   2', 'L  41', 'L  23', 'L  49', 'B    ', 'L  45'],
 ['L  41', 'B    ', 'L   9', 'L  40', 'L  43', 'W  54', 'L  44'],
 ['L  33', 'L  34', 'D  45', 'D  42', 'L  24', 'H    ', 'U    '],
 ['L  32', 'L   3', 'W  54', 'L  47', 'D  42', 'L  30', 'L  37'],
 ['W  55', 'U    ', 'U    ', 'U    ', 'U    ', 'U    ', 'U    '],
 ['L   2', 'L  48', 'D  49', 'L  43', 'L  45', 'H    ', 'U    '],
 ['L  22', 'D  30', 'L  31', 'D  49', 'L  46', 'L  42', 'L  54']]

###### In above code we have used 1 regular expression for parsing/pattern matching within text. To extract the rounds player number . we've defined a regular expressions for that:

__'[WLDUHBX]\s+[\d]*'__

The parsing behavior of this regular expression can be explained as follows:


__[WLDUHBX]__= Match any uppercase letter only (WLDUHBX) match exactly 1 occurrence. 

__\s__=  matches a single whitespace character -- space, newline, return, tab, form [ \n\r\t\f].

__[\d]__= Match any number within the range of 0,1,2,3...9.

__*__= match zero or more occurrence of the preceding regex characters/codes.

#### Creating list of opponents from every round

From the given chess point table, we can find player number of the opponent for each player. We are creating a list of opponent players' numbers for every round.

In [9]:
Round_1 = []  # create empty lists to store each rounds data
Round_2 = []
Round_3 = []
Round_4 = []
Round_5 = []
Round_6 = []
Round_7 = []

for a in range(len(Round)):
    for b in range(len(Round[a])):    #check each rounds no. and append into the desired list.
        if b == 0:
            Round_1.append(re.sub("\s","",Round[a][b][-2:]))
        elif b == 1:
            Round_2.append(re.sub("\s","",Round[a][b][-2:]))
        elif b == 2:
            Round_3.append(re.sub("\s","",Round[a][b][-2:]))
        elif b == 3:
            Round_4.append(re.sub("\s","",Round[a][b][-2:]))
        elif b == 4:
            Round_5.append(re.sub("\s","",Round[a][b][-2:]))
        elif b == 5:
            Round_6.append(re.sub("\s","",Round[a][b][-2:]))
        else:
            Round_7.append(re.sub("\s","",Round[a][b][-2:]))

print("Round_1 :",Round_1)
print("Round_7 :",Round_7)

Round_1 : ['39', '63', '8', '23', '45', '34', '57', '3', '25', '16', '38', '42', '36', '54', '19', '10', '48', '47', '15', '40', '43', '64', '4', '28', '9', '49', '51', '24', '50', '52', '58', '61', '60', '6', '46', '13', '', '11', '1', '20', '59', '12', '21', '', '5', '35', '18', '17', '26', '29', '27', '30', '', '14', '62', '', '7', '31', '41', '33', '32', '55', '2', '22']
Round_7 : ['4', '7', '12', '1', '17', '21', '2', '19', '20', '18', '26', '3', '32', '31', '38', '', '5', '10', '8', '9', '6', '40', '46', '39', '47', '11', '', '36', '', '50', '14', '13', '51', '52', '48', '28', '61', '15', '24', '22', '', '56', '55', '59', '58', '23', '25', '35', '', '30', '33', '34', '', '64', '43', '42', '', '45', '44', '', '37', '', '', '54']

#### Creating a dictionary to set column names

From our analysis we extracted data for player no., name, state, points and opponents from every round. Now we are determining names for every list in a dictionary format. Going forwad we can use these dictionaries as coumn header and column data in a dataframe.

In [10]:
chessdict = {'Player_Number':Player_Number,
            'player_Name':player_Name,
            'State':State,
            'total_Points':total_Points,
            'Pre_rating':Pre_rating,
            'Round_1':Round_1,
            'Round_2':Round_2,
            'Round_3':Round_3,
            'Round_4':Round_4,
            'Round_5':Round_5,
            'Round_6':Round_6,
            'Round_7':Round_7}
chessdict

{'Player_Number': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25',
  '26',
  '27',
  '28',
  '29',
  '30',
  '31',
  '32',
  '33',
  '34',
  '35',
  '36',
  '37',
  '38',
  '39',
  '40',
  '41',
  '42',
  '43',
  '44',
  '45',
  '46',
  '47',
  '48',
  '49',
  '50',
  '51',
  '52',
  '53',
  '54',
  '55',
  '56',
  '57',
  '58',
  '59',
  '60',
  '61',
  '62',
  '63',
  '64'],
 'player_Name': ['GARY HUA',
  'DAKSHESH DARURI',
  'ADITYA BAJAJ',
  'PATRICK H SCHILLING',
  'HANSHI ZUO',
  'HANSEN SONG',
  'GARY DEE SWATHELL',
  'EZEKIEL HOUGHTON',
  'STEFANO LEE',
  'ANVIT RAO',
  'CAMERON WILLIAM MC LEMAN',
  'KENNETH J TACK',
  'TORRANCE HENRY JR',
  'BRADLEY SHAW',
  'ZACHARY JAMES HOUGHTON',
  'MIKE NIKITIN',
  'RONALD GRZEGORCZYK',
  'DAVID SUNDEEN',
  'DIPANKAR ROY',
  'JASON ZHENG',
  'DINH DANG BUI',
  'EUGENE L MCCLURE',
  'ALAN BUI',
  'MICHAEL R ALDRICH',
  'LOREN SCHWIEBERT',
  'MAX ZHU',
  'GAURAV GIDWANI',
  'SOFIA ADINA STANESCU-BELLU',
  'CHIEDOZIE OKORIE',
  'GEORGE AVERY JONES',
  'RISHI SHETTY',
  'JOSHUA PHILIP MATHEWS',
  'JADE GE',
  'MICHAEL JEFFERY THOMAS',
  'JOSHUA DAVID LEE',
  'SIDDHARTH JHA',
  'AMIYATOSH PWNANANDAM',
  'BRIAN LIU',
  'JOEL R HENDON',
  'FOREST ZHANG',
  'KYLE WILLIAM MURPHY',
  'JARED GE',
  'ROBERT GLEN VASEY',
  'JUSTIN D SCHILLING',
  'DEREK YAN',
  'JACOB ALEXANDER LAVALLEY',
  'ERIC WRIGHT',
  'DANIEL KHAIN',
  'MICHAEL J MARTIN',
  'SHIVAM JHA',
  'TEJAS AYYAGARI',
  'ETHAN GUO',
  'JOSE C YBARRA',
  'LARRY HODGE',
  'ALEX KONG',
  'MARISA RICCI',
  'MICHAEL LU',
  'VIRAJ MOHILE',
  'SEAN M MC CORMICK',
  'JULIA SHEN',
  'JEZZEL FARKAS',
  'ASHWIN BALAJI',
  'THOMAS JOSEPH HOSMER',
  'BEN LI'],
 'State': ['ON',
  'MI',
  'MI',
  'MI',
  'MI',
  'OH',
  'MI',
  'MI',
  'ON',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'ON',
  'MI',
  'ON',
  'MI',
  'MI',
  'ON',
  'MI',
  'MI',
  'MI',
  'ON',
  'MI',
  'ON',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'MI',
  'ON',
  'MI',
  'MI',
  'MI'],
 'total_Points': ['6.0',
  '6.0',
  '6.0',
  '5.5',
  '5.5',
  '5.0',
  '5.0',
  '5.0',
  '5.0',
  '5.0',
  '4.5',
  '4.5',
  '4.5',
  '4.5',
  '4.5',
  '4.0',
  '4.0',
  '4.0',
  '4.0',
  '4.0',
  '4.0',
  '4.0',
  '4.0',
  '4.0',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.5',
  '3.0',
  '3.0',
  '3.0',
  '3.0',
  '3.0',
  '3.0',
  '3.0',
  '3.0',
  '3.0',
  '2.5',
  '2.5',
  '2.5',
  '2.5',
  '2.5',
  '2.5',
  '2.0',
  '2.0',
  '2.0',
  '2.0',
  '2.0',
  '2.0',
  '2.0',
  '1.5',
  '1.5',
  '1.0',
  '1.0',
  '1.0'],
 'Pre_rating': ['1794',
  '1553',
  '1384',
  '1716',
  '1655',
  '1686',
  '1649',
  '1641',
  '1411',
  '1365',
  '1712',
  '1663',
  '1666',
  '1610',
  '1220',
  '1604',
  '1629',
  '1600',
  '1564',
  '1595',
  '1563',
  '1555',
  '1363',
  '1229',
  '1745',
  '1579',
  '1552',
  '1507',
  '1602',
  '1522',
  '1494',
  '1441',
  '1449',
  '1399',
  '1438',
  '1355',
  '980',
  '1423',
  '1436',
  '1348',
  '1403',
  '1332',
  '1283',
  '1199',
  '1242',
  '377',
  '1362',
  '1382',
  '1291',
  '1056',
  '1011',
  '935',
  '1393',
  '1270',
  '1186',
  '1153',
  '1092',
  '917',
  '853',
  '967',
  '955',
  '1530',
  '1175',
  '1163'],
 'Round_1': ['39',
  '63',
  '8',
  '23',
  '45',
  '34',
  '57',
  '3',
  '25',
  '16',
  '38',
  '42',
  '36',
  '54',
  '19',
  '10',
  '48',
  '47',
  '15',
  '40',
  '43',
  '64',
  '4',
  '28',
  '9',
  '49',
  '51',
  '24',
  '50',
  '52',
  '58',
  '61',
  '60',
  '6',
  '46',
  '13',
  '',
  '11',
  '1',
  '20',
  '59',
  '12',
  '21',
  '',
  '5',
  '35',
  '18',
  '17',
  '26',
  '29',
  '27',
  '30',
  '',
  '14',
  '62',
  '',
  '7',
  '31',
  '41',
  '33',
  '32',
  '55',
  '2',
  '22'],
 'Round_2': ['21',
  '58',
  '61',
  '28',
  '37',
  '29',
  '46',
  '32',
  '18',
  '19',
  '56',
  '33',
  '27',
  '44',
  '16',
  '15',
  '41',
  '9',
  '10',
  '49',
  '1',
  '52',
  '43',
  '47',
  '53',
  '40',
  '13',
  '4',
  '6',
  '64',
  '55',
  '8',
  '12',
  '60',
  '38',
  '57',
  '5',
  '35',
  '54',
  '26',
  '17',
  '50',
  '23',
  '14',
  '51',
  '7',
  '24',
  '63',
  '20',
  '42',
  '45',
  '22',
  '25',
  '39',
  '31',
  '11',
  '36',
  '2',
  '',
  '34',
  '3',
  '',
  '48',
  '30'],
 'Round_3': ['18',
  '4',
  '25',
  '2',
  '12',
  '11',
  '13',
  '14',
  '59',
  '55',
  '6',
  '5',
  '7',
  '8',
  '30',
  '',
  '26',
  '1',
  '52',
  '23',
  '47',
  '28',
  '20',
  '43',
  '3',
  '17',
  '46',
  '22',
  '38',
  '15',
  '64',
  '44',
  '50',
  '37',
  '56',
  '51',
  '34',
  '29',
  '40',
  '39',
  '58',
  '57',
  '24',
  '32',
  '60',
  '27',
  '21',
  '',
  '63',
  '33',
  '36',
  '19',
  '',
  '61',
  '10',
  '35',
  '42',
  '41',
  '9',
  '45',
  '54',
  '',
  '49',
  '31'],
 'Round_4': ['14',
  '17',
  '21',
  '26',
  '13',
  '35',
  '11',
  '9',
  '8',
  '31',
  '7',
  '38',
  '5',
  '1',
  '22',
  '39',
  '2',
  '32',
  '28',
  '41',
  '3',
  '15',
  '58',
  '25',
  '24',
  '4',
  '37',
  '19',
  '34',
  '55',
  '10',
  '18',
  '36',
  '29',
  '6',
  '33',
  '27',
  '12',
  '16',
  '59',
  '20',
  '60',
  '63',
  '53',
  '56',
  '50',
  '61',
  '52',
  '64',
  '46',
  '57',
  '48',
  '44',
  '',
  '30',
  '45',
  '51',
  '23',
  '40',
  '42',
  '47',
  '',
  '43',
  '49'],
 'Round_5': ['7',
  '16',
  '11',
  '5',
  '4',
  '10',
  '1',
  '47',
  '26',
  '6',
  '3',
  '',
  '33',
  '27',
  '54',
  '2',
  '23',
  '19',
  '18',
  '28',
  '40',
  '',
  '17',
  '60',
  '34',
  '9',
  '14',
  '20',
  '52',
  '31',
  '30',
  '51',
  '13',
  '25',
  '57',
  '',
  '',
  '',
  '44',
  '21',
  '',
  '61',
  '59',
  '39',
  '63',
  '64',
  '8',
  '',
  '58',
  '',
  '32',
  '29',
  '',
  '15',
  '',
  '',
  '35',
  '49',
  '43',
  '24',
  '42',
  '',
  '45',
  '46'],
 'Round_6': ['12',
  '20',
  '13',
  '19',
  '14',
  '27',
  '9',
  '28',
  '7',
  '25',
  '34',
  '1',
  '3',
  '5',
  '33',
  '36',
  '22',
  '38',
  '4',
  '2',
  '39',
  '17',
  '37',
  '44',
  '10',
  '32',
  '6',
  '8',
  '48',
  '61',
  '50',
  '26',
  '15',
  '11',
  '52',
  '16',
  '23',
  '18',
  '21',
  '56',
  '',
  '64',
  '46',
  '24',
  '55',
  '43',
  '51',
  '29',
  '',
  '31',
  '47',
  '35',
  '57',
  '59',
  '45',
  '40',
  '53',
  '',
  '54',
  '',
  '30',
  '',
  '',
  '42'],
 'Round_7': ['4',
  '7',
  '12',
  '1',
  '17',
  '21',
  '2',
  '19',
  '20',
  '18',
  '26',
  '3',
  '32',
  '31',
  '38',
  '',
  '5',
  '10',
  '8',
  '9',
  '6',
  '40',
  '46',
  '39',
  '47',
  '11',
  '',
  '36',
  '',
  '50',
  '14',
  '13',
  '51',
  '52',
  '48',
  '28',
  '61',
  '15',
  '24',
  '22',
  '',
  '56',
  '55',
  '59',
  '58',
  '23',
  '25',
  '35',
  '',
  '30',
  '33',
  '34',
  '',
  '64',
  '43',
  '42',
  '',
  '45',
  '44',
  '',
  '37',
  '',
  '',
  '54']}

Creating a dataframe from previously created dictionary:

In [11]:
chess = pd.DataFrame(chessdict)
chess

,Player_Number,player_Name,State,total_Points,Pre_rating,Round_1,Round_2,Round_3,Round_4,Round_5,Round_6,Round_7
0,1,GARY HUA,ON,6.0,1794,39,21,18,14,7,12,4
1,2,DAKSHESH DARURI,MI,6.0,1553,63,58,4,17,16,20,7
2,3,ADITYA BAJAJ,MI,6.0,1384,8,61,25,21,11,13,12
3,4,PATRICK H SCHILLING,MI,5.5,1716,23,28,2,26,5,19,1
4,5,HANSHI ZUO,MI,5.5,1655,45,37,12,13,4,14,17
...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,JULIA SHEN,MI,1.5,967,33,34,45,42,24,,
60,61,JEZZEL FARKAS,ON,1.5,955,32,3,54,47,42,30,37
61,62,ASHWIN BALAJI,MI,1.0,1530,55,,,,,,
62,63,THOMAS JOSEPH HOSMER,MI,1.0,1175,2,48,49,43,45,,
63,64,BEN LI,MI,1.0,1163,22,30,31,49,46,42,54

All of the player data was retrieved and put into a pandas DataFrame.

Before computing the average, the round1,2,3..7 columns with the " " will be cleaned up by being replaced with a "0."

Despite the fact that certain rows have a large number of unplayed games, this may help explain some of the differences between players who have unplayed matches.

In [12]:
# columns Round 1 through 7: Replace any blank spaces with "0"

chess['Round_1'].replace('', 0, inplace=True)  

chess['Round_2'].replace('', 0, inplace=True)

chess['Round_3'].replace('', 0, inplace=True)

chess['Round_4'].replace('', 0, inplace=True)

chess['Round_5'].replace('', 0, inplace=True)

chess['Round_6'].replace('', 0, inplace=True)

chess['Round_7'].replace('', 0, inplace=True)

Print the DataFrame to visualize the changes and avoid unnecessary modifications

In [13]:
chess

,Player_Number,player_Name,State,total_Points,Pre_rating,Round_1,Round_2,Round_3,Round_4,Round_5,Round_6,Round_7
0,1,GARY HUA,ON,6.0,1794,39,21,18,14,7,12,4
1,2,DAKSHESH DARURI,MI,6.0,1553,63,58,4,17,16,20,7
2,3,ADITYA BAJAJ,MI,6.0,1384,8,61,25,21,11,13,12
3,4,PATRICK H SCHILLING,MI,5.5,1716,23,28,2,26,5,19,1
4,5,HANSHI ZUO,MI,5.5,1655,45,37,12,13,4,14,17
...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,JULIA SHEN,MI,1.5,967,33,34,45,42,24,0,0
60,61,JEZZEL FARKAS,ON,1.5,955,32,3,54,47,42,30,37
61,62,ASHWIN BALAJI,MI,1.0,1530,55,0,0,0,0,0,0
62,63,THOMAS JOSEPH HOSMER,MI,1.0,1175,2,48,49,43,45,0,0
63,64,BEN LI,MI,1.0,1163,22,30,31,49,46,42,54

#### Finding Average Pre Tour Score:

We need to develop a function that iterates through the data and returns with the required outcome. The function returns a column with the players' average pre-tournament chess rating of opponents by indexing the cells in the columns to their respective indexed players' ratings as well as replacing those. After this replacement, all the data is computed and divided by the number of games played.

In [14]:
def Average_Pre_Tour(score): #define a function
    player_mapping = {}       #create a dict
    average_rating = []       #create a list
    for index, row in score.iterrows():                        
        player_mapping[int(row['Player_Number'])] = int(row['Pre_rating'])# mapping players to ratings using a for loop
    for index, row in score.iterrows():
        
        if row[0] is not None:                         
            try:
                key1 = int(row.Round_1)                #Verify the opponent's player number and record their evaluations.
                row.Round_1 = player_mapping[key1]     #First round 

                key2 = int(row.Round_2)
                row.Round_2 = player_mapping[key2]     #second round

                key3 = int(row.Round_3)
                row.Round_3 = player_mapping[key3]     #third round and so no....

                key4 = int(row.Round_4)
                row.Round_4 = player_mapping[key4]    

                key5 = int(row.Round_5)
                row.Round_5 = player_mapping[key5]

                key6 = int(row.Round_6)
                row.Round_6 = player_mapping[key6]

                key7 = int(row.Round_7)                #seventh round
                row.Round_7 = player_mapping[key7]

                total = row.Round_1 + row.Round_2 + row.Round_3 + row.Round_4 + row.Round_5 + row.Round_6 + row.Round_7
                games = len([row.Round_1, row.Round_2, row.Round_3, row.Round_4, row.Round_5, row.Round_6, row.Round_7])
                average_rating.append(total/games)         # total player's rating divided by the number of games played.
            except KeyError:
                total = int(row.Round_1) + int(row.Round_2) + int(row.Round_3) + int(row.Round_4) + int(row.Round_5) + int(row.Round_6) + int(row.Round_7)
                games = len([row.Round_1, row.Round_2, row.Round_3, row.Round_4, row.Round_5, row.Round_6, row.Round_7])
                average_rating.append(total/games)
    return average_rating         #return average

Constructing an object that performs the "Average Pre Tour" function and returns the results in its list.

In [15]:
#constructing an object that performs the "Average Pre Tour" function and returns the results in its list.

average_rate = Average_Pre_Tour(chess)

#A column called "Average Rating" has been added to the chess DataFrame object.
chess['Average_Rating'] = [int (n) for n in average_rate]

In [16]:
chess.tail() #check end 5 rows

,Player_Number,player_Name,State,total_Points,Pre_rating,Round_1,Round_2,Round_3,Round_4,Round_5,Round_6,Round_7,Average_Rating
59,60,JULIA SHEN,MI,1.5,967,1449,1399,1242,1332,1229,0,0,950
60,61,JEZZEL FARKAS,ON,1.5,955,1441,1384,1270,1362,1332,1522,980,1327
61,62,ASHWIN BALAJI,MI,1.0,1530,1186,0,0,0,0,0,0,169
62,63,THOMAS JOSEPH HOSMER,MI,1.0,1175,1553,1382,1291,1283,1242,0,0,964
63,64,BEN LI,MI,1.0,1163,1555,1522,1494,1291,377,1332,1270,1263

The end 5 rows of the original DataFrame Object have now been applied to the Average Ratings, as can be seen.

#### Formation of final table

Drop all the unnecessary columns

In [17]:
chess1= chess.drop(['Player_Number','Round_1','Round_2','Round_3','Round_4','Round_5','Round_6','Round_7'], axis=1)
chess1

             player_Name State total_Points Pre_rating  Average_Rating
0               GARY HUA    ON          6.0       1794            1605
1        DAKSHESH DARURI    MI          6.0       1553            1469
2           ADITYA BAJAJ    MI          6.0       1384            1563
3    PATRICK H SCHILLING    MI          5.5       1716            1573
4             HANSHI ZUO    MI          5.5       1655            1500
..                   ...   ...          ...        ...             ...
59            JULIA SHEN    MI          1.5        967             950
60         JEZZEL FARKAS    ON          1.5        955            1327
61         ASHWIN BALAJI    MI          1.0       1530             169
62  THOMAS JOSEPH HOSMER    MI          1.0       1175             964
63                BEN LI    MI          1.0       1163            1263

[64 rows x 5 columns]

#### computed the average pre-tournament rating of the opposition for each player.

In [18]:
#converting the dataframe into CSV
chess1.to_csv('Project_3_Chess_Tournament', sep=',', encoding='utf-8')

Pandas DataFrame is now transformed into a CSV file.